body {
  background-color: #5D5C61;
  font-size: larger;
}

header {
  background-color: #5D5C61;
  padding-bottom: 65px;
  color: white;
}

.header-link {
  color: white;
  font-size: large;
  text-decoration: none;
}

.contain-to-grid {
  width: 100%;
}

.item-details {
  margin-left: 70px;
  padding: 20px 100px;
}

.inherit-display {
  display: inherit;
}

.inline-block{
  display: inline;
  vertical-align: middle;
}

.inline-block{
  display: inline-block;
  vertical-align: middle;
}

.about-me {
  background-color: #a1a1a3;
  height: 60vh;
  display: table;
}

.about-me-content {
  display: table-cell;
  vertical-align: middle;
}

.about-me-img {
  max-width: 30%;
  padding: 20px;
}

.flex {
  display: flex; /* equal height of the children */
}

.about-me-body {
  flex: 1; /* additionally, equal width */
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.about-me-img {
  width: 30%;
}

img {
  max-width: 100%;
}

.education {
  background-color: #7395AE;
}

.skills {
  background-color: #B1A296;
}

.work-experience {
  background-color: #557A95;
}
.projects {
  background-color: #a1a1a3;
}

.title-area {
  float: left;
}

.header-menu {
  float: right;
}

.header-menu li, .top-bar li {
  height: 100%;
  display: inline;
  padding: 30px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#cover-photo {
  max-width: 50%;
  outline: black solid 2px;
}