/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/


/* Global styles
------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

img {
    width: 300px;
}

a {
    color: white;
    font-size: medium;
    text-decoration: none;
}

a:hover, #cvBTN:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 80px;
    line-height: 1.1;
}

h2 {
    font-size: 45px;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.item-details h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    overflow: hidden;
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type {
    border: none;
}

.header-padding {
    padding: 15px;
    position: relative;
}


/* Profile
------------------------------------*/
header {
    background-color: #2F3061;
    color: #F7FFF7;
}

/* HEADER
------------------------------------*/
.header-menu li, .top-bar li {
    height: 100%;
    display: inline;
    padding: 30px;
}

.float-right {
    float: right;
    position: absolute;
    right: 0;
    bottom: 30%;
}

.inline-block {
    display: inline;
    vertical-align: middle;
}

.inherit-display {
    display: inherit;
}

#cvBTN {
    background-color: #2F3061;
    border-color: #2F3061;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

/* SIDE NAVIGATION
------------------------------------*/
.social-media-icon {
    width: 80%;
}

.social-media-icon:hover {
    background-color: #A1C6D7;
}

.social-media-icon-div {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 70px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2F3061; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* ABOUT ME
------------------------------------*/
.about-me {
    padding-top: 100px;
    background-color: #F7FFF7;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* Projects
------------------------------------*/
.projects {
    background: #F7FFF7;
}

.projects a {
    color: #2F3061;
}

.projects .btn {
    background: #2F3061;
    color: #F7FFF7;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}

.project-description h3 {
    margin-top: 0px;
}


/* Work Experience
------------------------------------*/
.work-experience {
    background: #A1C6D7;
}

.work-experience a {
    color: #2F3061
}

.date {
    font-weight: bold;
}

/* Skills
------------------------------------*/
.skills {
    background-color: #F7FFF7;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Education
------------------------------------*/
.education {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-position: bottom right;
    background-size: cover;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}

.education h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.graduation {
    font-weight: bold;
    padding-top: 4px;
}

/* Contact Info
------------------------------------*/
footer {
    background: #343434;
    text-align: center;
    color: #F7FFF7;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 5px;
    display: inline-block;
    color: #FFE66D;
}


/* Responsive
------------------------------------*/
@media screen and (min-width: 750px) {

    header {
        text-align: left;
    }

    .project-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 20px;
    }

    .header-background {
        background-color: #2F3061;
    }

    .date {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .school {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 20px;
    }

    .contact-list {
        display: flex;
        justify-content: center;
    }

    .contact-list a {
        padding: 15px;
    }

}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }

    h2 {
        line-height: 1;
    }
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}


/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}