body {
  background-color: #E9DCC9;
  font-size: larger;
}

header {
  background-color: white;
  color: #333333;
  padding-bottom: 65px;
}
a {
  text-decoration: none;
}
.header-link {
  color: #333333;
  font-size: large;
  text-decoration: none;
}

.contain-to-grid {
  width: 100%;
}

.inherit-display {
  display: inherit;
}

.inline-block{
  display: inline;
  vertical-align: middle;
}

.inline-block{
  display: inline-block;
  vertical-align: middle;
}

.about-me {
  height: 60vh;
  display: table;
}

.about-me-right {
  background-color: white;
}

.about-me-profile{
  padding: 50px;
  background-color: #EDEADE;
}

.about-me-content {
  display: table-cell;
  vertical-align: middle;
}

.about-me-img {
  max-width: 30%;
  padding: 20px;
}

.flex {
  display: flex; /* equal height of the children */
}

.about-me-body {
  flex: 1; /* additionally, equal width */
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

.about-me-img {
  width: 30%;
}

img {
  max-width: 100%;
}



.title-area {
  float: left;
}

.header-menu {
  float: right;
}

.header-menu li, .top-bar li {
  height: 100%;
  display: inline;
  padding: 30px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#cover-photo {
  max-width: 100%;
  border-radius: 50%;
}

.social-media-row {
  text-align: center;
  background-color: white;
}

.social-media-icon {
  width: 50px;
}

.section-title {
  text-align: center;
}

.job-item, .project-item, .education-entry, .skills-section{
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}

.project-description {
  display: inline-block;
  width: 48%;
}

.project-image {
  display: inline-block;
  width: 48%;
}